<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to the x11games!</h1>
    </header>
    
    <main>
        <h2>Choose your game</h2>
        <!-- Button to navigate to the Hangman page -->
        <a href="/games/hangman">
            <button class="game-button">Play Hangman</button>
        </a>
    </main>

    
</body>
</html>

